<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div style="text-align:center">
   <h1> {{title}} </h1>
  </div>
  <!-- <div style="width:40%;float:left;border:solid 1px black;">

    <h2>UpperCase Pipe</h2>
    <b>{{title|uppercase}}</b><br>

    <h2>LowerCase Pipe</h2>
    <b>{{title|lowercase}}</b><br>

    <h2>Currency Pipe</h2>
    <b>{{35490.50|currency:"INR":false}}</b><br>
    <b>{{35490.50|currency:"INR":true}}</b><br>

    <h2>Date Pipe</h2>
    <b>{{todaydate|date:'d/M/y'}}</b><br>
    <b>{{todaydate|date:'shortTime'}}</b><br>

    <h2>Decimal Pipe</h2>
    <b>{{454.78789678|number:'3.5-5'}}</b><br>

  </div>

  <div style="width:40%;float:left;border:solid 1px black;">

    <h2>JSON Pipe</h2>
    <b>{{jsonval|json}}</b><br>

    <h2>Percent Pipe</h2>
    <b>{{00.9549|percent}}</b><br>

    <h2>Slice Pipe</h2>
    <b>{{months|slice:2:11}}</b><br>

  </div> -->

  <!-- <h2>Custom Pipe</h2>
  <b>The floor value of 75.6 is:{{75.6|flr}}</b> -->

  <h5>Reverse String Pipe</h5>
  <b>{{title | flr}}</b>

</body>

</html>

<router-outlet></router-outlet>